awkward~=2.8.3; python_version ~= '3.11'
numpy~=2.2.6; python_version ~= '3.11'
PyYAML~=6.0.2; python_version ~= '3.11'
uproot~=5.6.2; python_version ~= '3.11'
colorlog~=6.9.0; python_version ~= '3.11'
torch~=2.7.0; python_version ~= '3.11'
lightning~=2.4.0; python_version ~= '3.11'
tensorboard~=2.19.0; python_version ~= '3.11'